@import url('https://fonts.googleapis.com/css?family=Poppins|Handlee|Courgette|Lora|Nunito|Lato|Ubuntu|Raleway|Open+Sans|Arial');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000746;
}

button {
    border: none;
    padding: 0;
    background: none;
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4 {
    color: #000746;
}

p {
    color: #1b1b1b;
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 9vh;
    margin: 0 40px;
}

nav a {
    padding: 3px;
    text-decoration: none;
    color: #303133;
    font-size: 16px;
    font-weight: 600;
}

nav button {
    font-size: 16px;
    border-radius: 12px;
    color: aliceblue;
    width: 15%;
    height: 25px;
    background-color: #000746;
    text-align: center;
    margin-left: -190px; /* Espaçamento entre Botão deorçamento e ancoras da NavBar - Tamanho para monitores */
}

nav button a {
    color: aliceblue;
}

/* Header */

header {
    width: 100%;
    height: 500px;
}

header img {
    height: 500px;
    width: 100%;
}

/* Section Numeros */
/* Esquerda */
.numeros {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.numeros-esquerda p, span {
    color: #1b1b1b;
}

.numeros-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.icons-e-numeros {
    display: flex;
    text-align: center;
    align-items: center;
}

.instalacoes, .manutencoes, .clientes {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    align-items: center;
}

.anosDeExperiencia{
    display: flex;
    flex-direction: row;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 20px;
}

.anosDeExperiencia span {
    font-size: 60px;
    font-weight: bold;
    color: #1b1b1b;
}

.btn-saibaMais-anos {
    border: 1px solid #000746;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
}

/* Direita */
.numeros-direita img {
    border-radius: 20px 0 0 20px;
}

/* Section 1 */
section .aquecedores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aquecedores-btn {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

section .aquecedores-btn img {
    width: 20%;
}

.aquecedores .btn-loja {
    margin: 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 12px;
    color: #000746;
    width: 15%;
    height: 25px;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #000746;
}

/* Sertec Aquecendo Vidas */
.aquecendoVidas-container {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloAquecendoVidas h2 {
    margin-top: 20px;
    font-size: 42px;
    text-align: center;
    color: #0B567E;
}

.tituloAquecendoVidas h3 {
    font-size: 35px;
    text-align: center;
    color: #1b1b1b;
    margin-bottom: 20px;
}

.conteudos-aquecendoVidas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudos-aquecendoVidas p {
    font-size: 30px;
    font-weight: bold;
    margin-left: -40px;
}

.conteudos-aquecendoVidas ul li {
    color: #1b1b1b;
    font-size: 26px;
    font-weight: bold;
    margin-right: 100px; 
}

.conteudos-aquecendoVidas ul li span {
    color: #0B567E;
}

.aquecendoVidas-direita {
    display: flex;
    margin: 20px 0 30px 60px;
}

.aquecendoVidas-direita img {
    border-radius: 50px;
}

  


/* Sobre */
.sobre {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h2 {
    color: #000746;
    margin-bottom: 35px;
}

.sobre-corpo {
    display: flex;
    padding: 0 60px;
}

.sobre-corpo p {
    font-size: 18px;
    margin-left: 30px;
}

.sobre-corpo img {
    border-radius: 10px;
}



/* Entrar em Contato BTN */

.texto-experiencia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.texto-experiencia button {
    font-size: 28px;
    border-radius: 18px;
    width: 50%;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: solid 1px #000746;
}

.texto-experiencia button a {
    align-items: center;
    text-align: center;
    color: #000746;
}

/* Avaliações */
.carousel-container {
    display: flex;
    justify-content: space-evenly;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #4e4e4e;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 25px;
    max-width: 200px;
}

.carousel-slide img {
    width: 60px;
    margin-top: -20px;
}

@keyframes growAndShrink {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .carousel-slide {
    animation: growAndShrink 12s infinite;
  }
  
  .carousel-slide:nth-child(1) {
    animation-delay: 0s; /* Primeiro slide inicia imediatamente */
  }
  
  .carousel-slide:nth-child(2) {
    animation-delay: 4s; /* Segundo slide inicia após 4 segundos */
  }
  
  .carousel-slide:nth-child(3) {
    animation-delay: 8s; /* Terceiro slide inicia após 8 segundos */
  }
  


/* Footer */
footer {
    background-color: #000d86;
    color: aliceblue;
}

footer a, h2 {
    color: rgb(212, 212, 212);
    text-decoration: none;
}

footer h2 {
    margin-top: 30px;
    font-size: 35px;
}

/* Redes sociais */
.redes-sociais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.redes-sociais div {
    display: flex;
    flex-direction: column;
    margin: 15px;
    font-size: 18px;
}

footer img {
    filter: invert(100%);
}

hr {
    width: 90%;
}

.redes-sociais p {
    margin: 10px 0;
    color: aliceblue;
}

.redes-sociais .gabriel-rosa {
    border-bottom: 1px solid white;
}

/* Animações */

/* NAV BTNS */
.nav-btn a {
    position: relative;
    color: #000746;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.nav-btn a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000746;
    transition: width 0.3s ease-out;
}

.nav-btn a:hover::after {
    width: 100%;
}

/* Imagem aquecedores */
/* Estilo para a seção de aquecedores */
.aquecedores-btn {
    display: flex;
    justify-content: space-around;
}

/* Estilo para as imagens de aquecedores com animação de flutuação */
.aquecedores-btn img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 0;
    animation: floatAnimation 5s infinite ease-in-out;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Estilo para o botão Loja com animação de aumento no hover */
.btn-loja {
    transition: transform 0.3s ease-in-out;
}

.btn-loja:hover {
    transform: scale(1.1); /* Ajuste o fator de escala conforme necessário */
}

/* Estilo para o botão "Entre em Contato" com animação de aumento no hover */
.entrar-em-contato button {
    transition: transform 0.3s ease-in-out;
}

.entrar-em-contato button:hover {
    transform: scale(1.1); /* Ajuste o fator de escala conforme necessário */
}

/* Mobile */

/* regra geral para dispositivos móveis */
@media only screen and (max-width: 600px) {
    /* Navbar */
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        margin: 10px 0;
    }

    nav button {
        display: none;
    }

    /* Header */
    header {
        height: auto;
    }

    header img {
        height: auto;
    }

    /* Section 1 */
    section .aquecedores-btn img {
        width: 30%; 
    }

    section .aquecedores .btn-loja {
        width: 50%;
        margin-left: 0;
    }

    /* Sobre */
    .sobre-corpo {
        flex-direction: column;
        padding: 0 20px;
    }

    .sobre-corpo p {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .sobre-corpo img {
        width: 100%;
    }

    /* Entrar em Contato BTN */
    .entrar-em-contato button {
        width: 80%;
    }

    /* Footer */
    footer {
        padding: 20px;
    }

    footer h2 {
        font-size: 28px;
        margin-top: 20px;
    }

    .redes-sociais div {
        margin: 10px;
    }

    .redes-sociais p {
        margin: 5px 0;
    }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
}
