@import url('https://fonts.googleapis.com/css?family=Poppins|Handlee|Courgette|Lora|Nunito|Lato|Ubuntu|Raleway|Open+Sans|Arial');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000746;
}

button {
    border: none;
    padding: 0;
    background: none;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: #000746;
}

p {
    color: #1b1b1b;
}

#whatsappBtn {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Navbar */

.navbar {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #000746;
    margin: 6px 0;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 10px;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #000746;
    font-weight: bold;
    font-size: 16px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    flex-direction: column;
}

.has-dropdown:hover .dropdown {
    display: flex;
}

.navbar a:hover {
    border-bottom: 2px solid #1b1b1b;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #fff;
        z-index: 1;
    }

    .menu.show {
        display: flex;
    }
}

/* Header */

header {
    width: 100%;
    height: 500px;
}

header img {
    height: 500px;
    width: 100%;
}

.banner-mobile {
    display: none;
}

/* Section Numeros */
/* Esquerda */
.numeros {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 30px;
}

.numeros-esquerda p, span {
    color: #1b1b1b;
}

.numeros-esquerda {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.icons-e-numeros {
    display: flex;
    text-align: center;
    align-items: center;
}

.instalacoes, .manutencoes, .clientes {
    display: flex;
    flex-direction: column;
    padding: 25px;
    text-align: center;
    align-items: center;
}

.anosDeExperiencia{
    display: flex;
    flex-direction: row;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 20px;
}

.anosDeExperiencia span {
    font-size: 60px;
    font-weight: bold;
    color: #1b1b1b;
}

.btn-saibaMais-anos {
    border: 1px solid #000746;
    border-radius: 20px;
    padding: 5px;
    font-size: 25px;
}

.btn-saibaMais-anos:hover {
    transform: scale(1.1);
    background-color: #000746;
    border: none;
}

.btn-saibaMais-anos:hover a {
    color: white;
}

/* Direita */
.numeros-direita img {
    border-radius: 20px 0 0 20px;
}

/* Section 1 */
section .aquecedores {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aquecedores-btn {
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}

section .aquecedores-btn img {
    width: 20%;
}

.aquecedores .btn-loja {
    margin: 30px 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    border-radius: 12px;
    color: #000746;
    width: 15%;
    height: 25px;
    background-color: #ffffff;
    text-align: center;
    border: 1px solid #000746;
}

/* Sertec Aquecendo Vidas */
.aquecendoVidas-container {
    background-color: #E6E6E6;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tituloAquecendoVidas h2 {
    margin-top: 20px;
    font-size: 42px;
    text-align: center;
    color: #0B567E;
}

.tituloAquecendoVidas h3 {
    font-size: 35px;
    text-align: center;
    color: #1b1b1b;
    margin-bottom: 20px;
}

.conteudos-aquecendoVidas {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.conteudos-aquecendoVidas p {
    font-size: 30px;
    font-weight: bold;
    margin-left: -40px;
}

.conteudos-aquecendoVidas ul li {
    color: #1b1b1b;
    font-size: 26px;
    font-weight: bold;
    margin-right: 100px; 
}

.conteudos-aquecendoVidas ul li span {
    color: #0B567E;
}

.aquecendoVidas-direita {
    display: flex;
    margin: 20px 0 30px 60px;
}

.aquecendoVidas-direita img {
    border-radius: 50px;
}

  


/* Sobre */
.sobre {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre h2 {
    color: #000746;
    margin-bottom: 35px;
}

.sobre-corpo {
    display: flex;
    padding: 0 60px;
}

.sobre-corpo p {
    font-size: 18px;
    margin-left: 30px;
}

.sobre-corpo img {
    border-radius: 10px;
}


/* Entrar em Contato BTN - Sobre */

.texto-experiencia {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.sobre h2 {
    font-size: 31px;
}

.texto-experiencia button {
    font-size: 28px;
    border-radius: 18px;
    width: 50%;
    background-color: #ffffff;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin: auto;
    border: solid 1px #000746;
}

.texto-experiencia button a {
    align-items: center;
    text-align: center;
    color: #000746;
}

.texto-experiencia button:hover {
    background-color: #000746;
}

.texto-experiencia a:hover {
    color: white;
}

/* Avaliações */
.carousel-container {
    display: flex;
    justify-content: space-evenly;
}

.carousel-slide {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 1px #4e4e4e;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 25px;
    max-width: 200px;
}

.carousel-slide img {
    width: 60px;
    margin-top: -20px;
}



/* Parceiros */
.parceiros h2 {
    font-size: 31px;
    margin-bottom: -70px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: #000746;
}

.banner-parceiros {
    width: 100%;
    height: 12rem;
    background-color: #fff;
    margin: 4rem auto 0 auto;
    display: flex;
    padding: 1rem;
    overflow: auto;
    justify-content: flex-start; /* Alinhar as divs no início do container */
    align-items: center;
}

.banner-parceiros div {
    flex: 0 0 auto;
    width: 12rem;
    height: 8rem;
    margin-right: 2rem; /* Adicionei uma margem à direita */
}

.banner-parceiros div:first-child {
    margin-left: 2rem; /* Adicionei uma margem à esquerda para a primeira div */
}

.banner-parceiros div:last-child {
    margin-right: 0;
}

.banner-parceiros div img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* Footer */
footer {
    background-color: #182F45;
    text-align: start;
}

footer img {
    width: 27vh;
}

footer p{
    color: #fff;
    font-size: 18px;
}

footer h3 {
    color: #fff;
    font-size: 21px;
}

footer a {
    color: #fff;
}

footer div {
    padding: 20px;
}

footer div p {
    padding: 5px;
}

.containerFooter {
    display: flex;
    justify-content: center;
    margin-left: -202px;
}

.quemSomosFooter {
    width: 20%;
    border-right: 1px solid white;
}

.venhaNosConhecer {
    width: 20%;
}

.desenvolvimento {
    align-items: center;
    text-align: center;
}

.desenvolvimento p {
    margin-top: -40px;
}

.linhaTop {
    margin: 0 auto;
    border-top: 1px solid white;
    width: 60%;
}

/* Animações */

/* NAV BTNS */
.nav-btn a {
    position: relative;
    color: #000746;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.nav-btn a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000746;
    transition: width 0.3s ease-out;
}

.nav-btn a:hover::after {
    width: 100%;
}

/* Imagem aquecedores */
/* Estilo para a seção de aquecedores */
.aquecedores-btn {
    display: flex;
    justify-content: space-around;
}

/* Estilo para as imagens de aquecedores com animação de flutuação */
.aquecedores-btn img {
    width: 100px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    margin: 0;
    animation: floatAnimation 5s infinite ease-in-out;
}

@keyframes floatAnimation {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

/* Estilo para o botão Loja com animação de aumento no hover */
.btn-loja {
    transition: transform 0.3s ease-in-out;
}

.btn-loja:hover {
    transform: scale(1.1); /* Ajuste o fator de escala conforme necessário */
}

/* Estilo para o botão "Entre em Contato" com animação de aumento no hover */
.entrar-em-contato button {
    transition: transform 0.3s ease-in-out;
}

.entrar-em-contato button:hover {
    transform: scale(1.1); /* Ajuste o fator de escala conforme necessário */
}

/* Mobile */

/* regra geral para dispositivos móveis */
@media only screen and (max-width: 600px) {
    /* Navbar */
    nav {
        width: 100vw;
        max-width: 600px;
    }

    /* Estilos para o botão do menu hamburguer */
.hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  
  .line {
    width: 30px;
    height: 3px;
    background-color: black;
    margin: 5px 0;
  }
  
  /* Estilos para o menu */
  .menu {
    display: none; /* Esconde o menu por padrão */
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 10px;
  }
  
  .menu li a {
    text-decoration: none;
    color: black;
  }
  
  /* Estilo para mostrar o menu quando a classe 'show' é adicionada */
  .menu.show {
    display: block;
  }
  
  /* Estilos para o submenu */
  .has-dropdown:hover .dropdown {
    display: none; /* Mostra o submenu quando o item de menu com submenu é hover */
  }
  

    /* Header */
    header {
        width: 100vw;
        max-width: 600px;
        height: auto;
    }

    header img {
        height: auto;
    }

    /* Section Números */
    .numeros-direita {
        display: none;
    }

    /* Section 1 */
    section .aquecedores-btn img {
        width: 30%; 
    }

    section .aquecedores .btn-loja {
        width: 50%;
        margin-left: 0;
    }

    /* Aquecendo Vidas */
    .aquecendoVidas-container {
        padding-bottom: 30px;
    }

    .aquecendoVidas-esquerda {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    .aquecendoVidas-direita {
        display: none;
    }

    /* Sobre */
    .sobre-corpo {
        flex-direction: column;
        padding: 0 20px;
    }

    .sobre-corpo p {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .sobre-corpo img {
        width: 100%;
        margin-bottom: 20px;
    }

    /* Entrar em Contato BTN */
    .entrar-em-contato button {
        width: 80%;
    }

    /* Footer */
    footer {
        background-color: #182F45;
        text-align: start;
    }
    
    footer img {
        display: none;
    }
    
    footer p{
        color: #fff;
        font-size: 18px;
    }
    
    footer h3 {
        color: #fff;
        font-size: 21px;
    }
    
    footer a {
        color: #fff;
    }
    
    footer div {
        padding: 20px;
    }
    
    footer div p {
        padding: 5px;
    }
    
    .containerFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }
    
    .quemSomosFooter {
        width: 36%;
        border-right: 1px solid white;
    }
    
    .venhaNosConhecer {
        width:36%;
    }

    .email {
        display: none;
    }
    
    .desenvolvimento {
        align-items: center;
        text-align: center;
    }
    
    .linhaTop {
        margin: 0 auto;
        border-top: 1px solid white;
        width: 60%;
    }    

    /* Botão flutuante WPP */
    #whatsappBtn {
        position: fixed;
        bottom: 20px;
        right: -300px;
        padding: 10px 20px;
        cursor: pointer;
    }
}

/* Tablet */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    
}
