@import url('https://fonts.googleapis.com/css?family=Poppins|Handlee|Courgette|Lora|Nunito|Lato|Ubuntu|Raleway|Open+Sans|Arial');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-style: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000746;
}

button {
    border: none;
    padding: 0;
    background: none;
    text-decoration: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4 {
    color: #000746;
}

p {
    color: #1b1b1b;
}

#whatsappBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


/* Navbar */

.navbar {
    background-color: #ffffff;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hamburger {
    cursor: pointer;
    display: none;
    flex-direction: column;
}

.line {
    width: 30px;
    height: 3px;
    background-color: #000746;
    margin: 6px 0;
}

.menu {
    list-style: none;
    display: flex;
}

.menu li {
    margin: 0 10px;
    position: relative;
}

.menu a {
    text-decoration: none;
    color: #000746;
    font-weight: bold;
    font-size: 16px;
}

.menu a:hover {
    background-color: rgb(218, 218, 218);
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    padding: 10px;
    flex-direction: column;
}

.has-dropdown:hover .dropdown {
    display: flex;
}

.navbar a:hover {
    border-bottom: 2px solid #1b1b1b;
}

@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: center;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #fff;
        z-index: 1;
    }

    .menu.show {
        display: flex;
    }
}

.header {
    display: flex;
    justify-content: center;
    font-size: 31px;
    margin-top: 30px;
}

/* Produtos Corpo */

.aquecedoresCorpo {
    display: flex;
    justify-content: space-around;
}

.marcas ol {
    list-style: none;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
}

.product {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 30px;
    padding: 20px;
    width: 300px;
}

.product h3 {
    color: #333;
    font-size: 20px;
    margin-top: 0;
}

.product h4 {
    color: #666;
    font-size: 18px;
    margin-top: 5px;
}

.product p {
    color: #888;
}

.product button {
    background-color: #000746;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 10px 20px;
    margin-top: 10px;
}

.product button:hover {
    background-color: #0056b3;
}


/* Footer */
footer {
    background-color: #182F45;
    text-align: start;
}

footer img {
    width: 27vh;
}

footer p{
    color: #fff;
    font-size: 18px;
}

footer h3 {
    color: #fff;
    font-size: 21px;
}

footer a {
    color: #fff;
}

footer div {
    padding: 20px;
}

footer div p {
    padding: 5px;
}

.containerFooter {
    display: flex;
    justify-content: center;
    margin-left: -202px;
}

.quemSomosFooter {
    width: 20%;
    border-right: 1px solid white;
}

.venhaNosConhecer {
    width: 20%;
}

.desenvolvimento {
    align-items: center;
    text-align: center;
}

.desenvolvimento p {
    margin-top: -40px;
}

.linhaTop {
    margin: 0 auto;
    border-top: 1px solid white;
    width: 60%;
}

/* Animações */

/* NAV BTNS */
.nav-btn a {
    position: relative;
    color: #000746;
    text-decoration: none;
    display: inline-block;
    overflow: hidden;
}

.nav-btn a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000746;
    transition: width 0.3s ease-out;
}

.nav-btn a:hover::after {
    width: 100%;
}
